*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.am
{
    position: relative;
    left:500px;
}

.contactfull
{
    background-image: url("https://www.cloud4c.com/vn/sites/vn/files/2022-07/cloud4c-company-contact-1Desktop.jpg");
    background-position: center;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    padding-right: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    right:-10px;
   

}
.contactfull form{
    position: relative;
    left:200px;
    width: 670px;
    height: 500px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    background-color: rgba(245, 241, 238, 0.651);
}
.contactfull form h1{
    color: #100f0f;
    font-weight: 200px;
    font-size: 50px;;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    top:5px;
}
.contactfull form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 25px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #373535;
}
.contactfull form input::placeholder{
    color: #342e2e;
}
.contactfull form #lastName,
.contactfull form #mobile
{
    margin-left: 20px;
}
.contactfull form h4{
    color: #171414;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.contactfull form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #272424;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 80px;
    max-height: 80px;
    min-width:600px ;
    max-width:600px ;
}
textarea::-webkit-scrollbar{
    width: 1cm;
}
textarea::-webkit-scrollbar-thumb{
    background-color: aqua;
}
.contactfull form #contact_button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.container form #contact_button:hover{
    opacity: 0.7;
    
}