.bgimg
{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
}
.rectangle666
{
    position: absolute;
    width: 1000px;
  height: 900px;
  top: 100px;
  left: 300px;
  background: rgba(18, 14, 14, 0.822);
  style:
        backgroundColor= rgba(18, 14, 14, 0.822);
        opacity: 0.7;
}
.head666 p
{
    position: relative;
    top: 110px;
    left:530px;
    width: 500px;
     font-size: 40px;
    color: rgb(216, 172, 29);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.form666
{
    position: absolute;
    top: 200px;
    left: 400px;
    font-size: 20px;
    width: 760px;
    color: #f6f4f4;
}
input[type=text6666]
{

    size: 20;
    height: 50px;
    font-size: 30px;
    width: 520px;
} 
input[type=radio]
{
    size: 10px;
    height: 16px;
    font-size: 30px;
    width: 250px;

}
.yn
{
    position: absolute;
    left: 360px;
    top: 365px;
    font-size: 20px;
    line-height: 30px;
}
.ot
{
   
    position: absolute;
    font-size: 20px;
    left: 360px;
    top: 610px;
    line-height: 32px;
}
.but666
{
    position: absolute;
    left: 280px;
    top: 600px;
    height:100px;
    

}
.kabar666
{ 
    position: relative;
    width: 150px;
    height: 70px;
    background-color: rgb(84, 155, 52);
    border: #fdfcff;
    border-radius: 1000px;
    font-size: 25px;
    top:0px;

}