.body671{
    background: url("./snow.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  height: 100vh;
}
.head1 
    {
        position: relative;
        left:30px;
        top:10px;
        color:white
    }
    .paraa11 p{
      font-size: 50px;
    }
    .paraa11
    {
        position:relative;
        font-size:70px;
        top:200px;
        font-family: 'Times New Roman', Times, serif;
        color: #151313c1;
    }
    .rectangle11
    {
      position: relative;
      height:250px;
      width:250px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:100px;
      top:630px;
    }
    .p11 p
    {
      position: relative;
      color: rgb(3, 3, 3);
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
    }
    .rectangle21
    {
      position: relative;
      height:250px;
      width:250px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:450px;
      top:380px; 
    }
    .p21
    {
      position: relative;
      color: rgb(14, 14, 14);
      font-size: 28px;
    }
    .rectangle31
    {
      position: relative;
      height:250px;
      width:250px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:800px;
      top:130px; 
    }
    .p31
    {
      position: relative;
      color: rgb(0, 0, 0);
      font-size: 25px;
    }
    .rectangle41
    {
      position: relative;
      height:250px;
      width:250px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:1150px;
      top:-120px; 
    }
    .p41
    {
      position: relative;
      color: rgb(14, 14, 14);
      font-size: 25px;
    }
    .img661
    {
      position: relative;
      top:-50px;
      left:-300px;
    }
    .img771
    {
      position: relative;
      left:300px;
      top:-760px;
    }
    .img881
    {
      position: relative;
      left:450px;
      top:-700px;
    }
    .img991
    {
      position: relative;
      left:600px;
      top:-1270px;
    }
    .celcius1
    {
      font-size:300px;
      position: relative;
      color:rgb(33, 130, 179);
      left:-300px;
      top:-700px;
      font-style: unset;
    }
    .p221
    {
      position: relative;
      top:-1250px;
      left:400px;
     
    }
    .p111
    {
      position: relative;
      top:-1200px;
      left:400px;
      font-size: 20px;
      

    }
    .Footer1
    {
        position: relative;
         background:white;
         padding: 1rem 0;
         margin-top: 2.5rem;
         top:-900px;
         height: 500px;
         style:
        backgroundColor=white;
        opacity: 0.7;
        
    }
     .ft-11 h3{
        
        position: relative;
        font-weight: 700;
        font-family:cursive; 
        letter-spacing: 2px;
        right:450px;
        top:90px;
        color:rgb(6, 6, 6);
    
     }
     .ft-11 span{
        color: #f60838;
        font-size: 33px;
    
     }
     .ft-11 h3{
        color: #090909;
        font-size: 30px;
    
     }
     .ft-11 p{
        position: relative;
        padding: 0rem 5rem 0.8rem 0;
        font-weight: 500;
        right:390px;
        font-size: 25px;
        color: rgb(8, 8, 8);
        top: 70px;
        

     }
     .footer-icons1 
     {
         padding: 0.5rem 0.7rem;
         color: #ef2626;
         margin: 0 0.5rem ;
         border-radius:50%;
        left:0px;
         position: relative;
         top:200px;
        
     

     }
     .footer-icons1 i:hover
     {
         background: #f60838 ;
         color: #f7ecec;
         transition: 0.6s;
         cursor: pointer;
         
         
     }
     .Footer1 h5{
        color:   #f60838;
        position: relative;
        font-size: 30px;
        top:-150px;
     }
     .ft-21 ul{
        list-style: none;
        padding-left: 0;
        color: rgb(2, 2, 2);     
        
     }
     .ft-21 ul li{
        padding: 0.35rem 0;
        font-weight: 500;
        position: relative;
        top:-150px; 
        color: rgb(12, 12, 12); 
           
        
     }
     .ft-21 ul li a{
      position: relative;
        text-decoration: none;
        color: #0c0a0a;
        font-size: 1.06rem ;
        top:20px;
    
     }
     .contact h4{
        color:  #f60838;
        position: relative;
        font-size: 30px;
        top:-390px;
        left:500px;

     }
     .contact  p{
        color: rgb(4, 4, 4);     
        font-weight: 500;
        padding-right: 0.1rem 0;
        font-size: 1.06rem ;
        position: relative;
        left:500px;
        top:-350px;
    
     }
     .contact i{
        padding-right: 0.5rem;
    
     }
     

     .Last-footer1 {
        background: #f8ecec;
        text-align: center;
        padding: 1rem 0;
        position: relative;
        top:-850px;
        height:30px;
     }
     .Last-footer1 p{
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(8, 8, 8);
        top:-80px;
     }